*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.bg{
    background-image: url(./netflixbg1.png);
    background-size: 100% 100%;
    height: 109vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;

}
.logo{
    align-content: center;
    padding-left: 150px;
    padding-top: 15px;
    width: 150px;
    height: 100%;
}
.logo1{
    background-image: url(./logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40px;
    width: 148px;
}
.button{
    padding-right: 150px;
    display: flex;
}
.box1{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    width: 124px;
    height: 32px;

}
.opt{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.sign{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    align-content: center;
    text-align: center;
    width: 76px;
    height: 32px;
    background-color: #E50914;
}

.sign:hover{
    background-color: #99161D;
}
.box2a:hover{
    background-color: #99131a;
}
.h1{
    
    width: 588px;
    height: 140px;
    color: white;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
}
.hero{
     position: relative;
     bottom: 36vh;
     justify-items: center;
}
.hero1{
    color:white;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.hero2{
    font-size: 15px;
    color: white;
    margin-top: 28px;
    font-weight: 600;
}
.box2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}
.search{
    color: white;
    font-size: 17px;
    width: 366px;
    height: 53px;
    background-color: rgba(29, 28, 28, 0.466);
    border: white 1px solid;
    border-radius: 5px;
    margin-top: 10px;
}

::placeholder{
    font-size: 15px;
    font-weight: 600;
    color: #9E9F9E;
    padding-left: 10px;
}

.box2a{
    height: 57px;
    width: 213px;
    background-color: #E50914;
    border-radius: 5px;
    display: flex;
    margin-left: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    justify-content: space-around;
    margin-top: 10px;
}

.one{
    margin-left: 8px;
}
.two{
    margin-right: 15px;
}

.hero3{
    background-color: black;
    height: 100%;
    
}
.trend{
    color:white;
    font-size:22px;
    font-weight: 600;
    margin-left: 19.5vh;
    font-family: sans-serif;
}

.trendpics{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.trend1{
    border-radius: 7px;
    width: 23.65vh;
    height: 32.85vh;
    background-color: white;
    background-image:url(./pushpa.webp) ;
    background-size: 100% 100%;
    transition: 0.2s;

}
.trend1:hover{
    transform: scale(1.04);
    z-index: 2;
}
.trend2:hover{
    transform: scale(1.04);
    z-index: 2;
}
.trend3:hover{
    transform: scale(1.04);
    z-index: 2;
}
.trend4:hover{
    transform: scale(1.04);
    z-index: 2;
}
.trend5:hover{
    transform: scale(1.04);
    z-index: 2;
}
.trend6:hover{
    transform: scale(1.04);
    z-index: 2;
}
.trend2{
    border-radius: 7px;
    width: 23.65vh;
    height: 32.85vh;
    background-color: white;
    background-image:url(./squid.webp) ;
    background-size: 100% 100%;
    transition: 0.2s;
}
.trend3{
    border-radius: 7px;
    width: 23.65vh;
    height: 32.85vh;
    background-color: white;
    background-image:url(./luckybasker.webp) ;
    background-size: 100% 100%;
    transition: 0.2s;
}

.trend4{
    border-radius: 7px;
    width: 23.65vh;
    height: 32.85vh;
    background-color: white;
    background-image:url(./mismatched.webp) ;
    background-size: 100% 100%;
    transition: 0.2s;
}

.trend5{
    border-radius: 7px;
    width: 23.65vh;
    height: 32.85vh;
    background-color: white;
    background-image:url(./devara.webp) ;
    background-size: 100% 100%;
    transition: 0.2s;
}
.trend6{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 15.7vh;
    height: 32.8vh;
    background-color: white;
    background-image:url(./venom.webp) ;
    background-size: 1 100%;
    transition: 0.2s;

}

.but{
    font-size: 20px;
    height: 117px;
    width:25px;
    color: rgba(255, 255, 255, 0.555);
    background-color: #ffffff17;
    border-radius: 10px;
    border: transparent 0mm solid;
    margin-left: 2vh;
}

.but:hover{
    background-color: rgb(58, 57, 57);
}
.trendbox{
    display: flex;
    justify-content: space-between;
    padding-left: 22.33vh;
    margin-top: 3vh;
    align-items: center;
    margin-right: 19.5vh;

}
.num{
    position: relative;
    font-size: 14.4vh;
    font-weight: 700;
    top: 17.08vh;
    right: 3.2vh;
    -webkit-text-stroke: white 2px;
}
.more{
    margin-top: 10vh;
}
.purple{
    display: flex;
    flex-wrap: wrap;
    margin-left: 19.5vh;
    margin-right: 19vh;
    justify-content: space-between;
}
.pur1{
    margin-top: 5vh;
    width: 41vh;
    height: 39vh;
    background-color: #99131a;
    border-radius: 15px;
    background-image: url(./WhatsApp\ Image\ 2025-02-16\ at\ 1.24.06\ PM.jpeg);
    background-size: 100% 100%;
    font-size: 2.2vh;
}
h2{
    color: white;
    margin-top: 3vh;
    margin-left: 1.8vh;
    margin-right: 1vh;
}

.purp{
    color: #A1A0A8;
    margin-top:3vh;
    margin-left: 1.8vh;
    margin-right: 1vh;
}
.puri1{
    width :8vh;
    height: 8vh;
    background-color: black;
    margin-top: 11.8vh;
    margin-left: 30vh;
    background-image: url(./tv.png);
    background-size: 100% 100%;
}

.puri2{
    width :8vh;
    height: 8vh;
    background-color: black;
    margin-top: 10.8vh;
    margin-left: 30vh;
    background-image: url(./arrow.png);
    background-size: 100% 100%;
}

.puri3{
    width :8vh;
    height: 8vh;
    background-color: black;
    margin-top: 12vh;
    margin-left: 30vh;
    background-image: url(./pip.png);
    background-size: 100% 100%;
}

.puri4{
    width :8vh;
    height: 8vh;
    background-color: black;
    margin-top: 10vh;
    margin-left: 30vh;
    background-image: url(./emoji.png);
    background-size: 100% 100%;
}
.trendf{
    color:white;
    font-size:3vh;
    font-weight: 600;
    margin-left: 19.5vh;
    font-family: sans-serif;
}
.freq{
    margin-top: 9vh ;
}

.fbox{
    height: 76vh;
    margin-right: 19vh;
    margin-top: 3vh;
    background-color: black;
    margin-left: 19.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fbox1{
    display: flex;
    justify-content: space-between;
    background-color: #2D2D2D;
    height: 11.5vh;
    align-items: center;
}

.wt1{
    margin-left: 3vh;
    color: white;
    font-size: 3.5vh;
}

.plu{
    color: white;
    font-size: 7vh;
    margin-right: 4vh;
}

.fbox1:hover{
    background-color: #414141;
}

.read{
    color: white;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 10vh;
}

.search1{
    color: white;
    font-size: 17px;
    width: 80vh;
    height: 53px;
    background-color: rgba(56, 53, 53, 0.363);
    border: white 1px solid;
    border-radius: 5px;
    margin-top: 10px;
}
.read1{
    color: #A0A0A0;
    font-size: 2.5vh;
    margin-top: 10vh;
    margin-left: 19.8vh;
}

.footer{
    height: 18.1vh;
    margin-left: 19.8vh;
    margin-right: 31vh;
    margin-top: 6vh;
    display: flex;
    justify-content: space-between;
}

.ft1{
    color: #A0A0A0;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.9vh;
    font-weight: 600;
}
.boxl{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    color: white;
    text-align: center;
    background-color: rgba(49, 47, 47, 0.205);
    border-radius: 5px;
    width: 124px;
    height: 32px;
    margin-top: 10vh;
    margin-left: 19.8vh;
    margin-bottom: 10vh;


}

@media(max-width:450px){
    *{
        margin: 0px;
        font-family: Arial;
        border: border-box;
    }
    
    .bg{
        background-image: url(./Screenshot\ 2025-02-20\ 174704.png);
        background-size: 100% 100%;
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navbar{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        align-items: center;
    
    }
    .logo{
        align-content: center;
        padding-left: 3.3vh;
        padding-top: 15px;
        width: 150px;
        height: 100%;
    }
    .logo1{
        background-image: url(./logo.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 3.3vh;
        width: 12.1vh;
    }
    .button{
        padding-right: 3.3vh;
        display: flex;
    }
    .box1{
        font-size: 15px;
        font-weight: 600;
        display: flex;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.253);
        border-radius: 5px;
        width: 7.4vh;
        height: 4vh;
    
    }
    .opt{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    .sign{
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 600;
        margin-left: 10px;
        border-radius: 5px;
        color: white;
        align-content: center;
        text-align: center;
        width: 76px;
        height: 32px;
        background-color: #E50914;
    }
    
    .sign:hover{
        background-color: #99161D;
    }
    .box2a:hover{
        background-color: #99131a;
    }
    .h1{
        margin-left: 16vh;
        width: 44.8vh;
        height: 11.0vh;
        color: white;
    }
    h1{
        font-size: 3.4vh;
        text-align: center;
        font-family: sans-serif;
        font-weight: 800;
    }
    .hero{
         position: relative;
         bottom: 26vh;
         justify-items: center;
         text-align: center
    }
    .hero1{
        color:white;
        font-size: 1.8vh;
        font-weight: 600;
        padding-top: 0vh;
    }
    
    .hero2{
        font-size: 1.8vh;
        color: white;
        margin-top: 28px;
        font-weight: 600;
        margin-left: 3vh;
        margin-right: 3vh;
        text-align: center;
    }
    .box2{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 15px;
        flex-wrap: wrap;
    }
    .search{
        color: white;
        font-size: 17px;
        width: 37.8vh;
        height: 5.60vh;
        background-color: rgba(29, 28, 28, 0.466);
        border: white 1px solid;
        border-radius: 5px;
        margin-top: 10px;
    }
    
    ::placeholder{
        font-size: 15px;
        font-weight: 600;
        color: #9E9F9E;
        padding-left: 10px;
    }
    
    .box2a{
        height: 5.6vh;
        width: 19vh;
        background-color: #E50914;
        border-radius: 5px;
        display: flex;
        margin-left: 20px;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        justify-content: space-around;
        margin-top: 10px;
    }
    
    .one{
        margin-left: 8px;
    }
    .two{
        margin-right: 15px;
    }
    
    .hero3{
        background-color: black;
        height: 100%;
        
    }
    .trend{
        color:white;
        font-size:22px;
        font-weight: 600;
        margin-left: 0vh;
        font-family: sans-serif;
    }
    
    .trendpics{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .trend1{
        border-radius: 7px;
        width: 23.65vh;
        height: 32.85vh;
        background-color: white;
        background-image:url(./pushpa.webp) ;
        background-size: 100% 100%;
        transition: 0.2s;
    
    }
    .trend1:hover{
        transform: scale(1.04);
        z-index: 2;
    }
    .trend2:hover{
        transform: scale(1.04);
        z-index: 2;
    }
    .trend3:hover{
        transform: scale(1.04);
        z-index: 2;
    }
    .trend4:hover{
        transform: scale(1.04);
        z-index: 2;
    }
    .trend5:hover{
        transform: scale(1.04);
        z-index: 2;
    }
    .trend6:hover{
        transform: scale(1.04);
        z-index: 2;
    }
    .trend2{
        border-radius: 7px;
        width: 23.65vh;
        height: 32.85vh;
        background-color: white;
        background-image:url(./squid.webp) ;
        background-size: 100% 100%;
        transition: 0.2s;
    }
    .trend3{
        border-radius: 7px;
        width: 23.65vh;
        height: 32.85vh;
        background-color: white;
        background-image:url(./luckybasker.webp) ;
        background-size: 100% 100%;
        transition: 0.2s;
    }
    
    .trend4{
        display: none;
        border-radius: 7px;
        width: 23.65vh;
        height: 32.85vh;
        background-color: white;
        background-image:url(./mismatched.webp) ;
        background-size: 100% 100%;
        transition: 0.2s;
    }
    
    .trend5{
        display: none;
        border-radius: 7px;
        width: 23.65vh;
        height: 32.85vh;
        background-color: white;
        background-image:url(./devara.webp) ;
        background-size: 100% 100%;
        transition: 0.2s;
    }
    .trend6{
        display: none;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        width: 15.7vh;
        height: 32.8vh;
        background-color: white;
        background-image:url(./venom.webp) ;
        background-size: 1 100%;
        transition: 0.2s;
    }
    
    .but{
        font-size: 20px;
        height: 117px;
        width:25px;
        color: rgba(255, 255, 255, 0.555);
        background-color: #ffffff17;
        border-radius: 10px;
        border: transparent 0mm solid;
        margin-left: 2vh;
    }
    
    .but:hover{
        background-color: rgb(58, 57, 57);
    }
    .trendbox{
        display: flex;
        justify-content: space-between;
        padding-left: 0vh;
        margin-top: 3vh;
        align-items: center;
        margin-right: 19.5vh;
    }
    .num{
        position: relative;
        font-size: 14.4vh;
        font-weight: 700;
        top: 17.08vh;
        right: 3.2vh;
        -webkit-text-stroke: white 2px;
    }
    .more{
        margin-top: 10vh;
    }
    .purple{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0vh;
        margin-right: 19vh;
        justify-content: space-between;
    }
    .pur1{
        margin-top: 5vh;
        width: 41vh;
        height: 39vh;
        background-color: #99131a;
        border-radius: 15px;
        background-image: url(./WhatsApp\ Image\ 2025-02-16\ at\ 1.24.06\ PM.jpeg);
        background-size: 100% 100%;
        font-size: 2.2vh;
    }
    h2{
        color: white;
        margin-top: 3vh;
        margin-left: 1.8vh;
        margin-right: 1vh;
    }
    
    .purp{
        color: #A1A0A8;
        margin-top:3vh;
        margin-left: 1.8vh;
        margin-right: 1vh;
    }
    .puri1{
        width :8vh;
        height: 8vh;
        background-color: black;
        margin-top: 11.8vh;
        margin-left: 30vh;
        background-image: url(./tv.png);
        background-size: 100% 100%;
    }
    
    .puri2{
        width :8vh;
        height: 8vh;
        background-color: black;
        margin-top: 10.8vh;
        margin-left: 30vh;
        background-image: url(./arrow.png);
        background-size: 100% 100%;
    }
    
    .puri3{
        width :8vh;
        height: 8vh;
        background-color: black;
        margin-top: 12vh;
        margin-left: 30vh;
        background-image: url(./pip.png);
        background-size: 100% 100%;
    }
    
    .puri4{
        width :8vh;
        height: 8vh;
        background-color: black;
        margin-top: 10vh;
        margin-left: 30vh;
        background-image: url(./emoji.png);
        background-size: 100% 100%;
    }
    .trendf{
        color:white;
        font-size:3vh;
        font-weight: 600;
        margin-left: 19.5vh;
        font-family: sans-serif;
    }
    .freq{
        margin-top: 9vh ;
    }
    
    .fbox{
        height: 76vh;
        margin-right: 0vh;
        margin-top: 3vh;
        background-color: black;
        margin-left: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .fbox1{
        display: flex;
        justify-content: space-between;
        background-color: #2D2D2D;
        height: 11.5vh;
        align-items: center;
    }
    
    .wt1{
        margin-left: 3vh;
        color: white;
        font-size: 3.5vh;
    }
    
    .plu{
        color: white;
        font-size: 7vh;
        margin-right: 4vh;
    }
    
    .fbox1:hover{
        background-color: #414141;
    }
    
    .read{
        color: white;
        font-size: 2.5vh;
        text-align: center;
        margin-top: 10vh;
    }
    
    .search1{
        color: white;
        font-size: 17px;
        width: 80vh;
        height: 53px;
        background-color: rgba(56, 53, 53, 0.363);
        border: white 1px solid;
        border-radius: 5px;
        margin-top: 10px;
    }
    .read1{
        color: #A0A0A0;
        font-size: 2.5vh;
        margin-top: 10vh;
        margin-left: 19.8vh;
    }
    
    .footer{
        height: 18.1vh;
        margin-left: 0vh;
        margin-right: 31vh;
        margin-top: 6vh;
        display: flex;
        justify-content: space-between;
    }
    
    .ft1{
        color: #A0A0A0;
        width: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.9vh;
        font-weight: 600;
    }
    .boxl{
        font-size: 15px;
        font-weight: 600;
        display: flex;
        color: white;
        text-align: center;
        background-color: rgba(49, 47, 47, 0.205);
        border-radius: 5px;
        width: 124px;
        height: 32px;
        margin-top: 10vh;
        margin-left: 0vh;
        margin-bottom: 10vh;
    
    
    }
}